server {
    listen {{ nginx_port_tls }} ssl http2;
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ inventory_hostname }};
    ssl_certificate /etc/ssl/certs/{{ ansible_host }}.pem;
    ssl_certificate_key /etc/ssl/certs/{{ ansible_host }}.key;
    location / {
            try_files $uri $uri/ =404;
    }
}