<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>TLS Nginx, configured by Ansible with auto self-signed certificate generation</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>
  <p>Running on your server {{ inventory_hostname }}</p>
  </body>
</html>
